* {
	font-family:sans-serif;
}

#header {
	display:inline-block;
	height:68px;
	width:960px;
	background: linear-gradient(lightgrey,white);
}

#header img {
	margin-right:315px;
}

#header p {
	padding
	margin-bottom:0px;
	font-weight:bold;
}

#header img, p {
	display:inline-block;
	vertical-align: bottom;
}


/*input {

	padding-top:5px;
	margin-bottom:20px;
	font-size: 9px;
	font-weight:bold;
	color:dimgray;
	border:solid lightgrey 1px;
	border-bottom:0px;
	background: linear-gradient(white,lightgrey);
}*/

ul {
	list-style-type: none;
	margin:0px;
	padding:0px;
}

li{
	font-size:9px;
	font-weight:bold;
	padding:6px 20px 6px 20px;
	border:solid lightgrey 1px;
	border-bottom:0px;
	background: linear-gradient(white,lightgrey);
	display:inline-block;
}

ul a {
	color:dimgray;
	text-decoration: none;
}

/*a {

	border:solid 1px;
}*/